html {
  background-color: chocolate;
  background-color: rgb(73, 73, 73);
  display: flex;
  justify-content: center;
}
.App {
  background: linear-gradient(lightpink,pink, deeppink);
  color: cornsilk;
  font-family: monospace;
  position: relative;
  min-height: 100vh;
  width: 1000px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

*, *::before, *::after {
  margin: 0;
}

.page-on-view {
  padding-bottom: 2.5rem;
  font-family: monospace;
}

h2 > a {
  text-decoration: none;
  color: rgb(78, 78, 78);
  color: cornsilk;
}

h2 > a:hover {
  color: bisque;
}

h2 > a:focus {
  color: aliceblue;
}

h4 > a {
  text-decoration: none;
  color: rgb(78, 78, 78);
  color: cornsilk;
}

h4 > a:hover {
  color: thistle;
}

h4 > a:focus {
  color: pink;
}

#footer {
  background-color: dimgray;
  background-color: rgb(59, 59, 59);
  color: cornsilk;
  position: absolute;
  width: 100%;
  height: 2.5rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.navbar {
  height: 8rem;
  background-color: dimgray;
  background-color: rgba(31, 31, 31, 0.658);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#logo {
  min-width: 115px;
  min-height: 115px;
  margin-left: 1rem;
  background-color: cornsilk;
  background-color: transparent;
  /* color: rgb(78, 78, 78);  */
  color: cornsilk;
  border: 2px solid cornsilk;
  border-radius: 50%;
  border: 3px solid cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo > h2 {
  font-size: 1.5em;
}

.navbar > div.navigation {
  display: flex;
  padding-right: 1em;
}

.navigation > h4 {
  padding: 0 0.25em;
  margin-left: 0.5em;
  color: cornsilk;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.navigation > button {
  margin-left: 0.5em;
  border-radius: 5px; 
  border: 2px solid cornsilk; 
  background-color: transparent; 
  color: cornsilk;
}

form.preferences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-on-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.login {
  background: linear-gradient(pink, deeppink);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em;
}

.form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

label {
  margin-top: 1em;
}

input {
  background-color: transparent;
  color: navy;
  line-height: 1.2em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  border: 2px solid dimgray;
}

input:focus {
  outline-color: dimgray;
}

::placeholder {
  color: dimgray;
}

button {
  background-color: cornsilk;
  color: rgb(43, 42, 42);
}

.signup-login-question-container {
  display: flex;
  flex-direction: column;
}

.task-input {
  margin-top: 2em;
  width: 500px;
}

.timer-component {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: center;
}

.timer-container {
  border: 10px solid deeppink;
  height: 25em; 
  width: 25em; 
  border-radius: 50%; 
  margin-top: 2em; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.timer-label {
  font-size: 2em;
  margin-bottom: 20px;
  color:dimgray;
}

.time-left {
  font-size: 3em;
  margin-bottom: 30px;
  color: dimgray;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.start-stop, button.reset {
  width: fit-content;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 9px;
  background-color: turquoise;
  color: navy;
}

.reset-reminder {
  border: 1px solid cornsilk;
  padding: 4px 0;
  margin-top: 35px;
  background-color: dimgray;
}