:root {
  --bottom-thirds: gray;
  --middle-thirds: gray;
  --top-thirds: gray;
}

html {
  /* background: linear-gradient(rgb(235, 227, 213), rgb(203, 220, 235)); */
  background: linear-gradient(var(--top-thirds), var(--middle-thirds), var(--bottom-thirds));
  display: flex;
  justify-content: center;
}
.App {
  background: linear-gradient(var(--top-thirds), var(--middle-thirds), var(--bottom-thirds));
  color: cornsilk;
  font-family: monospace;
  position: relative;
  min-height: 100vh;
  padding: 0 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

*, *::before, *::after {
  margin: 0;
}

.page-on-view {
  padding-bottom: 2.5rem;
  font-family: monospace;
}

h2 > a {
  text-decoration: none;
  color: floralwhite;
}

h2 > a:hover {
  color: aliceblue;
}

h2 > a:focus {
  color: lemonchiffon;
}

h4 > a {
  text-decoration: none;
  color: cornsilk;
}

h4 > a:hover {
  color: aliceblue;
}

h4 > a:focus {
  color: oldlace;
}

#footer {
  color: aliceblue;
  position: absolute;
  height: 2.5rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#footer > span {
  padding: 0.5rem; 
  border: 2px solid var(--bottom-thirds); 
  margin: 15px 0; 
  border-radius: 15px;
}

.navbar {
  height: 8rem;
  background-color: transparent;
  color: cornsilk;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo {
  min-width: 115px;
  min-height: 115px;
  margin-left: 1rem;
  background-color: chocolate;
  border-radius: 50%;
  border: 0.5rem solid floralwhite;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo > h2 {
  font-size: 1.5em;  
  color: floralwhite;
}

.navbar > div.navigation {
  display: flex;
  padding-right: 1em;
}

.navigation > h4 {
  padding: 0 0.5rem;
  margin-left: 0.5em;
  color: cornsilk;
  background-color: chocolate;
  border-top: 0.15rem solid oldlace;
  border-bottom: 0.15rem solid oldlace;
  display: flex;
  align-items: center;
}

.navigation > button {
  margin-left: 0.5em;
  border-radius: 5px; 
  border: 2px solid chocolate; 
  background-color: transparent; 
  color: cornsilk;  
}

form.preferences {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: black;
}

.page-on-view {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.login {
  /* background: linear-gradient(rgb(229, 243, 255), rgb(229, 253, 229)); */
  background: linear-gradient(var(--top-thirds), var(--middle-thirds), var(--bottom-thirds));
  min-height: 100vh;
  color: cornsilk;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 2em;
}

.form {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

label {
  margin-top: 1em;
  color:cornsilk;
}

input {
  background-color: transparent;
  color: cornsilk;
  line-height: 1.2em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  border: 2px solid floralwhite;
}

input:focus {
  outline-color: dimgray;
}

::placeholder {
  color: cornsilk;
}

button {
  background-color: chocolate;
  color: cornsilk;
  width: fit-content; 
  margin-top: 1em; 
  padding: 0.5em; 
  border-radius: 5px; 
  border: none;
}

.signup-login-question-container {
  display: flex;
  flex-direction: column;
}

.task-input {
  margin-top: 2em;
  width: 500px;
}

.timer-component {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: center;
}

.timer-container {
  border: 10px solid floralwhite;
  background-color: chocolate;
  height: 20em; 
  width: 20em; 
  border-radius: 50%; 
  margin-top: 2em; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.timer-label {
  font-size: 2em;
  margin-bottom: 20px;
  color: oldlace;
}

.time-left {
  font-size: 3em;
  margin-bottom: 30px;
  color: oldlace;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.start-stop, button.reset {
  width: fit-content;
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 9px;
  background-color: dimgray;
  color: aliceblue;
  border: 2px solid dimgray;
}

.reset-reminder {
  display: flex;
  justify-content: center;
  padding: 4px 1rem;
  color: black;
  margin-bottom: 10px;
}

li {
  padding: 0 0 0 1rem;
  text-align: left;
}

.table {
  padding: 0 2rem 2rem 2rem; 
  color: black; 
  width: 100%;
}

.time {
  background-color: rgba(92, 92, 92, 0.144);
  padding-top: 1rem;
}

th {
  border-bottom: 1px solid black;
}

th, tr {
  height: 2rem;  
  color:cornsilk;
}

th {
  text-align: center;
}

td {
  padding: 1rem;
  color:cornsilk;
}

tr:hover {
  background-color: rgba(255, 137, 2, 0.1);
  cursor: cell;
}

.delete-cell {
  width: 0.18px;
}

.active-cell {
  width: 0.76px;
}

.datepicker-container {
  display: flex;
  justify-content: flex-start;
}

.datepicker {
  padding: 0 5rem 1rem 2rem;
  color: black;
}

.react-calendar__navigation__label__labelText,
.react-calendar__tile {
  color: black;
}

.fadeout {
  animation: fadeOut ease 60s;
  -webkit-animation: fadeOut ease 60s;
  -moz-animation: fadeOut ease 60s;
  -o-animation: fadeOut ease 60s;
  -ms-animation: fadeOut ease 60s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.edit-button {
  border: none; 
  background-color: transparent;
  color: cornsilk;
}

/* .edit-button:hover {
  text-decoration: underline;
} */

.save-button, .delete-button, .add-button {
  line-height: 1.2em;
  padding: 0.5em;
  border-radius: 5px;
  background-color: chocolate;
  color: oldlace;
}

.form-popup {
  display: none;
  z-index: 9;
}